@use "variables" as v;
@use "mixin" as m;

.contenedor-grid-admin {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1450px;

    .div-imagen {
        margin: 1rem;

        img {
            width: 100%;
            aspect-ratio: 16/9;
            object-fit: cover;
            border-radius: 8px;
        }
        h3 {
        }
        .div-imagen-botones {
            display: flex;
            justify-content: center;
            gap: 0.7rem;

            button {
                @include m.boton;
            }
        }
    }
}

.botones-aceptar-envio {
    display: flex;
    justify-content: center;
    gap: .7rem;
    padding-inline: 10px;
    margin-bottom: 1rem;
    button {
        @include m.boton;
    }
}
