@use "variables" as v;
:root {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: center;
        font-family: v.$fuente-primaria;
        color: v.$color-1;
    }
    input,
    label ,
    textarea,
    input::placeholder{
        font-family: v.$fuente-secundaria;
    }
    p {
        font-family: v.$fuente-secundaria;
    }

    li {
        list-style: none;
    }

    a {
        display: block;
        text-decoration: none;
        font-family: v.$fuente-secundaria;
    }
}
