$breakpoint-mobile: 360px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large-desktop: 1200px;
$fuente-primaria: "Arimo", sans-serif;
$fuente-secundaria: "Noto Sans", sans-serif;
$color-1: rgb(32, 30, 67);
$color-2: rgb(19, 75, 112);
$color-3: rgb(80, 140, 155);
$color-4: rgb(238, 238, 238);
